.add-button{
    height: 50px;
}
.dashboard{
    background: linear-gradient(to right, #425470, #c2e9fb); /* Adjust colors as needed */
    margin: 0;
    height: 100vh;
    table,td,th{
        background: lavender

    }
}
